@font-face{
    font-family: 'Norse';
    src: url('./resources/Norsebold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
body{
    background-color: black;
}
.page{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;
}
figure{
    position: relative;
}
figure img{
    width: 400px;
    height: 100%;
}

.logo{
    position: absolute;
    top:20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo img{
    height: 100px;
    width: 100px;
}
.logo span{
    font-family: 'Norse';
    font-size: 80px;
    color: white;
}
.details{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(249, 249, 249);
}
.intro{
    margin: 0 0 20px 30px;
    font-size: 16px;
    width: 470px;
}
.intro p{
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: column;
}

.form{
    padding: 15px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.contents{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    margin: 20px 0;
    font-size: 10px;
    color: rgb(88, 88, 88);
}
input{
    width: 200px;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
    font-weight: 100;
    border:1px solid #E5E7EB;
}
button{
    background-color: #596D48;
    color: white;
    padding: 10px 40px;
    border-radius: 7px;
    margin:30px;
    font-size: 12px;
}
input:focus{
    border:1px solid blue;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    outline: none;
}
[type="password"]:invalid{
    border:1px solid red;
}
.login{
    margin: 0 30px;
    font-size: 12px;
    font-weight: 400;
}
a{
    color: #596D48;
    text-decoration: none;
}